@font-face {
  font-family: "Orbitron", sans-serif;
  src: url("../assets/fonts/orbitron/Orbitron-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Exo 2", sans-serif;
}

.section-title {
  font-family: "Orbitron", sans-serif;
  font-size: 2.5rem;
  color: var(--sw-gold);
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px rgba(243, 220, 80, 0.5);
  }
  to {
    text-shadow:
      0 0 30px rgba(243, 220, 80, 0.8),
      0 0 40px rgba(243, 220, 80, 0.6);
  }
}
