* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-width: 7px;
  --border-black: var(--border-width) solid #000;

  --color-light-green: #e6eee9;
  --color-red: #d73631;
  --color-beige: #f2e7d7;
  --color-yellow: #f1ca68;
  --color-pale-yellow: #fafee6;
  --color-light-gray: #e2e9e4;
  --color-orange-yellow: #f2c758;
  --color-dark-red: #d42e22;
  --color-light-yellow: #eccc6c;
  --color-green-gray: #dfe5cf;
  --color-cream: #efefe3;
  --color-black: #130409;
  --color-light-gray-2: #e3dfdc;
  --color-gray: #bfc0b9;
  --color-light-green-2: #dfe2d3;
  --color-dark-black: #090205;
  --color-blue-gray: #d7dee0;
  --color-blue: #241882;
  --color-light-gray-3: #dfdfdf;

  --outer-width: 800px;
  --outer-height: 800px;
  --right-column-width: 50px;
  --main-width: 750px;
}

body {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.outer-container {
  width: var(--outer-width);
  height: var(--outer-height);
  display: grid;
  grid-template-columns: var(--main-width) var(--right-column-width);
  grid-template-rows: 1fr;
  position: relative;
}

.vertical-right-container {
  grid-column: 2;
  display: grid;
  grid-template-rows: 636px 150px;
  gap: 0;
}

.top-box {
  background-color: var(--color-light-green);
  border: var(--border-black);
  border-left: none;
}

.bottom-box {
  background-color: var(--color-red);
  border-left: var(--border-width) solid #000;
  border-right: var(--border-width) solid #000;
  border-bottom: var(--border-width) solid #000;
  border-top: none;
}

.main-content {
  grid-column: 1;
  display: grid;
  grid-template-columns: 134px 392px 228px;
  grid-template-rows: 127px 370px 289px 14px;
  gap: 0;
}

.main-content > div {
  box-sizing: border-box;
}

.top-main {
  grid-column: 1 / span 3;
  grid-row: 1;
  display: grid;
  grid-template-columns: 193px 327px 230px;
  grid-template-rows: 1fr;
}

.top-box-1 {
  background-color: var(--color-light-green);
  border: var(--border-black);
  border-right: none;
  border-bottom: var(--border-black);
}

.top-box-2 {
  background-color: var(--color-beige);
  border-top: var(--border-black);
  border-bottom: var(--border-black);
  border-left: var(--border-black);
}

.top-box-3 {
  background-color: var(--color-yellow);
  border-top: var(--border-black);
  border-bottom: var(--border-black);
  border-left: var(--border-black);
  border-right: var(--border-black);
}

.left-main {
  grid-column: 1;
  grid-row: 2 / span 3;
  display: grid;
  grid-template-rows: 194px 312px 153px;
}

.left-box-1 {
  background-color: var(--color-pale-yellow);
  border-left: var(--border-black);
  border-right: var(--border-black);
  border-bottom: var(--border-black);
}

.left-box-2 {
  background-color: var(--color-light-gray);
  border-left: var(--border-black);
  border-right: var(--border-black);
  border-bottom: var(--border-black);
}

.left-box-3 {
  background-color: var(--color-orange-yellow);
  border-left: var(--border-black);
  border-right: var(--border-black);
  border-bottom: var(--border-black);
  border-top: none;
}

.middle-top {
  grid-column: 2 / span 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 392px 228px;
}

.middle-box-left {
  background-color: var(--color-dark-red);
  border-bottom: var(--border-black);
  border-right: var(--border-black);
}

.middle-box-right {
  display: grid;
  grid-template-rows: 185px 185px;
}

.box-up {
  background-color: var(--color-light-yellow);
  border-bottom: var(--border-black);
}

.box-down {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.down-left {
  background-color: var(--color-green-gray);
  border-right: var(--border-black);
}

.down-right {
  background-color: var(--color-cream);
}

.middle-bottom {
  grid-column: 2 / span 2;
  grid-row: 3 / span 2;
  display: grid;
  grid-template-columns: 200px 415px;
  grid-template-rows: 1fr;
}

.bottom-left {
  display: grid;
  grid-template-rows: 200px 83px;
}

.left-up {
  background-color: var(--color-black);
  border-right: var(--border-black);
  border-bottom: var(--border-black);
}

.left-down {
  background-color: var(--color-light-gray-2);
  border-right: var(--border-black);
}

.bottom-right {
  display: grid;
  grid-template-rows: 240px 43px;
}

.right-up {
  display: grid;
  grid-template-columns: 193px 222px;
  border-bottom: var(--border-black);
}

.up-left {
  display: grid;
  grid-template-rows: 139px 50px 50px;
  border-right: var(--border-black);
}

.left-1 {
  background-color: var(--color-gray);
  border-bottom: var(--border-black);
}

.left-2 {
  background-color: var(--color-light-green-2);
  border-bottom: var(--border-black);
}

.left-3 {
  background-color: var(--color-dark-black);
}

.up-right {
  display: grid;
  grid-template-rows: 139px 100px;
}

.right-1 {
  background-color: var(--color-blue-gray);
  border-bottom: var(--border-black);
}

.right-2 {
  background-color: var(--color-blue);
}

.right-down {
  background-color: var(--color-light-gray-3);
}
