* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.outer-container {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  background-color: white;
  position: relative;
}

/* Höger vertikal sektion */
.vertical-right-container {
  width: 50px;/*50px+750px=800px*/
  height: 800px;
  float: right;
  background-color: white;
 /* margin-right: -7px;*/

}

.top-box-right {
  width: 50px;/*7px+36px+7px=50px*/
  height: 636px; /*7px+622px+7px=636px*/
  background-color: rgba(230, 238, 233);
  border: 7px solid black;
  margin: 0 auto;
  /*margin-top: 0; /*kolla detta!*/
}

.bottom-box-right {
  width: 50px;/*7px+36px+7px=50px*/
  height: 164px;/*157px+7px=164px*/
  background-color: rgba(215, 54, 49);
  border-left: 7px solid black;
  border-right: 7px solid black;
  border-bottom: 7px solid black;
  margin: 0 auto;
}

/* Huvudinnehåll */
.main-content {
  width: 750px;/*50px+750px=800px*/
  height: 800px;
  float: left;
  background-color: #f9f9f9;
}
/* Övre sektion */
.top-main {
  width: 100%;/*750px*/
  height: 120px;
  overflow: hidden;
}

.top-box-1 {
  width: 200px;/*193px+7px=200px av 750px*/
  height: 120px;/*106px+7px+7px=120px*/
  float: left;
  background-color: rgba(230, 238, 233);
  border: 7px solid black;
  border-right: none;
  */
}

.top-box-2 {
  width: 313px;/*306px+7px=313px*/
  height: 120px;/*106px+7px+7px=120px*/
  float: left;
  background-color: rgba(242, 231, 215);
  border: 7px solid black;
  border-right: none;

}

.top-box-3 {
  width: 237px;/*230px+7px=237px*/
  height: 120px;/*106px+7px+7px=120px*/
  float: left;
  background-color: rgba(241, 202, 104);
  border: 7px solid black;
  border-right: none;

}

/* Vänster sektion */
.left-main {
  width: 134px;
  height: 680px;/*800px-120px=680px*/
  float: left;
}

.left-box-1 {
  width: 134px;/*120px+7px+7px=134px*/
  height: 200px;/*193px+7px=200px*/
  background-color: rgba(241, 202, 104);
  border: 7px solid black;
  border-top: none;
}

.left-box-2 {
  width: 134px;/*120px+7px+7px=134px*/
  height: 323px;/*316px+7px=323px;*/
  background-color: rgba(226, 233, 228);
  border: 7px solid black;
  border-top: none;
}

.left-box-3 {
  width: 134px;/*120px+7px+7px=134px*/
  height: 157px;/*157px+7px=164px*/
  background-color: rgba(242, 199, 88);
  border: 7px solid black;
  border-top: none;

}

/* Mitten övre sektion */
.middle-container {
  float: left;
  width: 616px; /*800px-50px-134px=616px*/
  height: 680px;/*800px-120px=680px*/
}

.middle-top {
  width: 100%;
  height: 370px;
  overflow: hidden;
}

.middle-box-left {
  width: 388px;
  height: 370px;
  float: left;
  background-color: rgba(212, 46, 34);
  border-right: 7px solid black;
 
}

.middle-box-right {
  width: 228px; 
  height: 370px;
  float: left;
}

.box-up {
  width: 100%;
  height: 185px;
  background-color: rgba(236, 204, 108);
  border-bottom: 7px solid black;
}

.box-down-container {
  width: 100%;
  height: 185px;
  overflow: hidden;
}

.down-left {
  width: 111px;
  height: 100%;
  float: left;
  background-color: rgba(223, 229, 207);
  border-right: 7px solid black;

}

.down-right {
  width: 117px; 
  height: 100%;
  float: left;
  background-color: rgba(239, 239, 227);
}

/* Mitten nedre sektion */
.middle-bottom {
  width: 100%;
  height: 310px;
  overflow: hidden;
  border-bottom: 7px solid black;
}

.bottom-left {
  width: 200px;
  height: 100%;
  float: left;
  /*border-top: 7px solid black;*/
}

.left-up {
  width: 100%;
  height: 200px;
  background-color: rgba(19, 4, 9);
  border-right: 7px solid black;
  border-bottom: 7px solid black;
  border-top: 7px solid black;
  
}

.left-down {
  width: 100%;
  height: 110px;
  background-color: rgba(227, 223, 220);
  border-right: 7px solid black;

}

.bottom-right {
  width: 416px; /* 616px-200px =416px */
  height: 100%;
  float: left;
}

.right-up {
  width: 100%;
  height: 240px;
  overflow: hidden;
  border-bottom: 7px solid black;
}

.up-left {
  width: 188px;
  height: 100%;
  float: left;
  border-right: 7px solid black;
  border-top: 7px solid black;
}

.left-1 {
  width: 100%;
  height: 139px;
  background-color: rgba(191, 192, 185);
  border-bottom: 7px solid black;
}

.left-2 {
  width: 100%;
  height: 50px;
  background-color: rgba(223, 226, 211);
  border-bottom: 7px solid black;
}

.left-3 {
  width: 100%;
  height: 51px;
  background-color: rgba(9, 2, 5);
}

.up-right {
  width: 228px;
  height: 100%;
  float: left;
  border-top: 7px solid black;
}

.right-1 {
  width: 100%;
  height: 139px;
  background-color: rgba(215, 222, 224);
  border-bottom: 7px solid black;
}

.right-2 {
  width: 100%;
  height: 101px; /* 240 - 139 = 101 */
  background-color: rgba(36, 24, 130);
}

.right-down {
  width: 100%;
  height: 63px; /* 303 - 240 = 63 */
  background-color: rgba(223, 223, 223);
}

/* Clearfix för float */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
