* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border: 7px solid #000;
}

body {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.outer-container {
  width: 800px;
  height: 800px;
  display: flex;
}

.main-area {
  width: 750px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.right-column {
  width: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.right-top-box {
  flex: 624 0 0;
  background-color: #e6eee9;
  border-top: var(--border);
  border-right: var(--border);
  border-bottom: var(--border);
  border-left: var(--border);
}

.right-bottom-box {
  flex: 163 0 0;
  background-color: #d73631;
  border-right: var(--border);
  border-bottom: var(--border);
  border-left: var(--border);
  border-top: none;
}

.top-row {
  width: 100%;
  height: 127px;
  display: flex;
}

.top-box-1 {
  width: 193px;
  height: 100%;
  background-color: #e6eee9;
  border-top: var(--border);
  border-left: var(--border);
  border-bottom: var(--border);
  border-right: none;
}

.top-box-2 {
  width: 327px;
  height: 100%;
  background-color: #f2e7d7;
  border-top: var(--border);
  border-bottom: var(--border);
  border-left: var(--border);
  border-right: none;
}

.top-box-3 {
  width: 230px;
  height: 100%;
  background-color: #f1ca68;
  border-top: var(--border);
  border-bottom: var(--border);
  border-left: var(--border);
  border-right: none;
}

.body-container {
  flex: 1;
  display: flex;
}

.left-column {
  width: 134px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.left-box-1 {
  height: 194px;
  background-color: #fafee6;
  border-left: var(--border);
  border-right: var(--border);
  border-bottom: var(--border);
}

.left-box-2 {
  height: 312px;
  background-color: #e2e9e4;
  border-left: var(--border);
  border-right: var(--border);
  border-bottom: var(--border);
}

.left-box-3 {
  height: 168px;
  background-color: #f2c758;
  border-left: var(--border);
  border-right: var(--border);
  border-bottom: var(--border);
}

.middle-right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.top-middle-row {
  height: 370px;
  display: flex;
}

.middle-red {
  width: 392px;
  height: 100%;
  background-color: #d42e22;
  border-bottom: var(--border);
  border-right: var(--border);
}

.right-yellow-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.top-yellow {
  height: 185px;
  background-color: #eccc6c;
  border-bottom: var(--border);
  border-right: none;
}

.bottom-split {
  flex: 1;
  display: flex;
}

.green-gray {
  flex: 1;
  background-color: #dfe5cf;
  border-right: var(--border);
  border-bottom: var(--border);
}

.cream {
  flex: 1;
  background-color: #efefe3;
  border-bottom: var(--border);
}

.bottom-middle-row {
  flex: 1;
  display: flex;
}

.left-bottom-container {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.black-box {
  height: 200px;
  background-color: #130409;
  border-right: var(--border);
  border-bottom: var(--border);
}

.light-gray-box {
  flex: 1;
  background-color: #e3dfdc;
  border-right: var(--border);
  border-bottom: var(--border);
}

.right-bottom-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-bottom: var(--border);
}

.complex-top {
  height: 240px;
  display: flex;
  border-bottom: var(--border);
}

.left-complex {
  width: 193px;
  display: flex;
  flex-direction: column;
  border-right: var(--border);
}

.gray-box {
  height: 139px;
  background-color: #bfc0b9;
  border-bottom: var(--border);
}

.light-green-box {
  height: 50px;
  background-color: #dfe2d3;
  border-bottom: var(--border);
}

.dark-black-box {
  height: 52px;
  background-color: #090205;
}

.right-complex {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.blue-gray-box {
  height: 139px;
  background-color: #d7dee0;
  border-bottom: var(--border);
}

.blue-box {
  height: 100px;
  background-color: #241882;
}

.bottom-light-gray {
  height: 43px;
  background-color: #dfdfdf;
}
